{% extends 'layout.html' %}

{% load static %}

{% block title %}Канбан{% endblock %}

{% block page_content %}
<div class="row">
  {% for title, tasks in kanban.items %}
  <div class="col-sm-6 col-lg-3">
    <div class="row row-cards">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="subheader">{{ title }}</div>
            <div class="ml-auto lh-1">
              <div class="dropdown">
                <a class="dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Все</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item active" href="#">Срочные</a>
                  <a class="dropdown-item" href="#">Блокирующие</a>
                  <a class="dropdown-item" href="#">Тривиальные</a>
                </div>
              </div>
            </div>
          </div>
          <div class="h2 mb-3"><span class="task-count">{{ tasks.count }}</span> задач</div>
        </div>
      </div>

      <div class="cards-draggable m-0 p-0 pb-5" sortable>
        {% for task in tasks %}
          <div class="card mt-0" sortItem data-id="{{ task.id }}">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="subheader">Задача {{ task.id }}</div>
                <div class="ml-auto lh-1">
                  <div class="dropdown">
                    <a class="text-muted" href="#" aria-expanded="false">
                      <img width="30px" src="{% static 'avatars/009m.jpg' %}">
                    </a>
                  </div>
                </div>
              </div>

              <a href="{% url 'kanban-view' id=task.id %}" class="h2">{{ task.title }}</a>
              <div class="h5 mb-3">{{ task.description }}</div>

              <div class="d-flex mb-2">
                <div>Прогресс выполнения</div>
                <div class="ml-auto">
                  <span class="text d-inline-flex align-items-center lh-1">
                    0%
                  </span>
                </div>
              </div>
              <div class="progress progress-sm">
                <div class="progress-bar bg-blue" style="width: 0%" role="progressbar" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
  <script src='https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.2/lib/draggable.min.js'></script>
  <script>
    const sortable = new Draggable.Sortable(document.querySelectorAll('[sortable]'), {
      draggable: '[sortItem]',
      delay: 0
    });

    let type = ['free', 'active', 'process', 'ended'];
    let counter = []

    // init
    $('[sortable]').each(function () {
      counter.push($(this).children().length)
    });

    sortable.on('drag:start', function(e) {
      console.log(e.originalSource)
    });

    sortable.on('drag:stop', function (e) {
      let id = e.originalSource.dataset['id'];

      $('[sortable]').each(function (i) {
        let count = $(this).children().length
        $('.task-count')[i].innerHTML = count;

        if (count > counter[i]) {
          $.ajax({
            type: 'post',
            data: {
              id: id,
              status: type[i]
            }
          });
        }
        counter[i] = count
      });
    });
  </script>
{% endblock %}