{% extends 'layout.html' %}

{% load static %}

{% block title %}Канбан{% endblock %}

{% block custom_style %}
  <link href="{% static 'libs/selectize/dist/css/selectize.css' %}" rel="stylesheet" />
{% endblock %}

{% block button_page_actions %}
  <div class="col-auto ml-auto d-print-none">
    <div class="btn-list">
      <span class="d-none d-sm-inline">
        <a href="#" class="btn btn-white">
          Действия
        </a>
      </span>
      <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-task-create">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" /></svg>
        Добавить задачу
      </a>
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}

    {% for title, tasks in kanban.items %}
      <div class="col-sm-6 col-lg-3">
        <div class="row row-cards">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="subheader">{{ title }}</div>
                <div class="ml-auto lh-1">
                  <div class="dropdown">
                    <a class="dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Все</a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item active" href="#">Обычные</a>
                      <a class="dropdown-item" href="#">Важные</a>
                      <a class="dropdown-item" href="#">Срочные</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h2 mb-3"><span class="task-count">{{ tasks.count }}</span></div>
            </div>
          </div>

          <div class="cards-draggable m-0 p-0 pb-5">
            {% for task in tasks %}
              <div class="card mt-0 cursor-pointer show-task-form" data-id="{{ task.id }}">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader"># {{ task.id }}</div>
                  </div>

                  <div class="h2">{{ task.title }}</div>
                  <div class="h5 mb-3">{{ task.description|default:'Нет описания' }}</div>

                  <div class="d-flex mb-2">
                    <div>Прогресс выполнения</div>
                    <div class="ml-auto">
                      <span class="text d-inline-flex align-items-center lh-1">
                        0%
                      </span>
                    </div>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-blue" style="width: 0%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>

                <div class="ribbon {% if task.priority == 'important' %}bg-success{% elif task.priority == 'hot' %}bg-red{% else %}bg-primary{% endif %}">
                  {{ task.get_priority_display }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="modal modal-blur fade" id="modal-task-create" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление задачи</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="row">
              <form method="post" class="col default-container form-task-create">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="author" value="{{ user.id }}">

                <label class="form-label">Заголовок задачи</label>
                <input type="text" class="form-control check-regulations" name="title" required>

                <label class="form-label">Описание задачи</label>
                <textarea class="form-control" name="description"></textarea>

                <label class="form-label">Выберите исполнителей</label>
                <select name="person" class="form-select select-employee-create" multiple placeholder='Нажмите чтобы выбрать' required></select>

                <label class="form-label">Количество часов</label>
                <input type="text" class="form-control" name="hours" required>

                <label class="form-label">Статус задачи</label>
                <select name="status" class="form-select">
                  <option value="free">Свободная</option>
                  <option value="active">Активная</option>
                  <option value="process">В процессе</option>
                  <option value="ended">Завершенная</option>
                </select>

                <label class="form-label">Приоритет задачи</label>
                <select name="priority" class="form-select">
                  <option value="base">Обычная</option>
                  <option value="important">Важная</option>
                  <option value="hot">Срочная</option>
                </select>
              </form>

              <!-- added here-->
              <div class="col-md-4 regulation-container" style="display:none">
                <label class="form-label">Возможно вы имели в виду...</label>
                <input type="text" disabled class="form-control" name="title" value="Замена детали мотора">

                <label class="form-label">Рекомендуемые исполнители</label>
                <select name="person" disabled class="form-select select-employee-create-regulations"></select>

                <label class="form-label">Количество часов</label>
                <input type="text" disabled class="form-control" name="hours">

                <button class="btn btn-primary mt-3 regulation-submit">Применить</button>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn mr-auto" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary save-task-create">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal-task-edit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="max-width:1100px" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление задачи</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="row">
              <form method="post" class="col form-task-edit">
                <input type="hidden" class="form-control" name="author" value="{{ user.id }}">

                <div>
                  <label class="form-label">Заголовок задачи</label>
                  <input type="text" class="form-control" name="title">
                </div>

                <div>
                  <label class="form-label">Описание задачи</label>
                  <textarea class="form-control" name="description"></textarea>
                </div>

                <div>
                  <label class="form-label">Выберите исполнителей</label>
                  <select name="person" class="form-select select-employee-edit" multiple
                    placeholder='Нажмите чтобы выбрать'></select>
                </div>

                <div>
                  <label class="form-label">Количество часов</label>
                  <input type="text" class="form-control" name="hours">
                </div>

                <div>
                  <label class="form-label">Статус задачи</label>
                  <select name="status" class="form-select">
                    <option value="free">Свободная</option>
                    <option value="active">Активная</option>
                    <option value="process">В процессе</option>
                    <option value="ended">Завершенная</option>
                  </select>
                </div>

                <div>
                  <label class="form-label">Приоритет задачи</label>
                  <select name="priority" class="form-select">
                    <option value="base">Обычная</option>
                    <option value="important">Важная</option>
                    <option value="hot">Срочная</option>
                  </select>
                </div>
              </form>

              <div class="col">
                <div class="card">
                  <ul class="nav nav-tabs nav-fill" data-toggle="tabs">
                    <li class="nav-item"><a href="#tab-subtasks" class="nav-link active" data-toggle="tab">Подзадачи</a></li>
                    <li class="nav-item"><a href="#tab-comments" class="nav-link" data-toggle="tab">Комментарии</a></li>
                  </ul>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="tab-subtasks">
                        <form class="row add-subtask-form" method="post">
                          <div class="col-8">
                            <input class="form-control" name="titleSub" placeholder="Заголовок подзадачи">
                          </div>
                          <div class="col-3" style="margin-left: -5px">
                            <input class="form-control" name="hoursSub" placeholder="Время">
                          </div>
                          <div class="col-1" style="margin-left: -10px">
                            <button class="btn btn-primary pr-1" type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="4" y="4" width="16" height="16" rx="2" />
                                <line x1="9" y1="12" x2="15" y2="12" />
                                <line x1="12" y1="9" x2="12" y2="15" />
                              </svg>
                            </button>
                          </div>
                        </form>
                        
                        <table class="table card-table table-vcenter">
                          <tbody class="subtasks-container"></tbody>
                        </table>
                      </div>
                      <div class="tab-pane" id="tab-comments">
                        <div class="comments-container"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn mr-auto" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary save-task-edit">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'libs/selectize/dist/js/standalone/selectize.min.js' %}"></script>
  <script>
    const selectizeConf = {
      persist: false,
      maxItems: null,
      valueField: 'id',
      labelField: 'name',
      searchField: ['fio', 'role'],
      options: [
        {% for u in users %} 
          {
            name: '{{ u.profile.fio|escapejs }}',
            role: '{{ u.profile.role }}',
            id: {{ u.id }}
          },
        {% endfor %}
      ],
      plugins: ['remove_button'],
      render: {
        item: function (item, escape) {
          return '<div><span class="selectize-name">' + escape(item.name) + '</span></div>';
        },
        option: function (item, escape) {
          var label = item.name || item.role;
          var caption = item.name ? item.role : null;

          return '<div style="padding:10px"><span>' + escape(label) + '</span><br>' + (caption ?
            '<span class="selectize-email">' + escape(caption) + '</span>' : '') + '</div>';
        }
      }
    };

    let $create = $('.select-employee-create').selectize(selectizeConf)
    let $change = $('.select-employee-edit').selectize(selectizeConf);
    let $regulation = $('.select-employee-create-regulations').selectize(selectizeConf);
  </script>

  <script>
    function subtaskStatusChange (id) {$.ajax({type: 'post', data: {type: 'changeSubTask', id: id}})}

    let taskid = null;

    $('.show-task-form').click(function () {
      let modal = $('#modal-task-edit');

      $.ajax({
        type: "post",
        url: "{% url 'kanban' %}?id=" + this.dataset['id'],
        data: {
          type: 'get'
        },
        success: function (response) {
          taskid = response.id
          modal.find('.modal-title').html('Просмотр задачи');
          modal.find('[name=title]').val(response.title);
          modal.find('[name=description]').html(response.description);
          modal.find('[name=hours]').val(response.hours);
          modal.find('[name=author]').val(response.author);
          modal.find('[name=status] option[value=' + response.status + ']').prop('selected', true);;
          modal.find('[name=priority] option[value=' + response.priority + ']').prop('selected', true);;
          modal.find('form').attr('action', '{% url 'kanban' %}?id=' + response.id);

          // subtasks
          modal.find('.subtasks-container').empty();
          response.subtasks.forEach(function (item) {
            modal.find('.subtasks-container').append(
              `<tr>
                <td class="w-1 p-0"><label class="form-check m-0"><input type="checkbox" onchange="subtaskStatusChange(${ item.id })"; class="form-check-input" ${ item.success ? 'checked=""' : '' }><span class="form-check-label"></span></label></td>
                <td class="w-100">${ item.title }</td>
                <td class="text-nowrap p-0">${ item.hours }h</td>
              </tr>`
            );
          });

          // comments 
          modal.find('.comments-container').empty();
          response.comments.forEach(function (item) {
            modal.find('.comments-container').append(`<div class="alert alert-primary mb-0"><string>${ item.user }</string> говорит ... ${ item.text }`)
          });
          if (response.comments.length == 0) modal.find('.comments-container').append(`<div class="alert alert-warning mb-0">Комментариев нет!</div>`)

          $change[0].selectize.addItems(response.persons);
        }
      });

      modal.modal('show');
    });

    $('.save-task-edit').click(function () {
      $('.form-task-edit').submit();
    });

    $('.save-task-create').click(function () {
      $('.form-task-create').submit();
    });

    $('.add-subtask-form').submit(function (e) {
      e.preventDefault();

      if (e.target.titleSub.value.length == 0 || e.target.hoursSub.value.length == 0) return; 

      $('.subtasks-container').append(
        `<tr>
          <td class="w-1 p-0"><label class="form-check m-0"><input type="checkbox" disabled class="form-check-input"><span class="form-check-label"></span></label></td>
          <td class="w-100">${ e.target.titleSub.value }</td>
          <td class="text-nowrap p-0">${ e.target.hoursSub.value }h</td>
        </tr>`
      );

      $.ajax({
        type: 'post',
        data: {
          type: 'createSubTask',
          id: taskid,
          title: e.target.titleSub.value,
          hours: e.target.hoursSub.value
        },
        success: function (response) {
          console.log(response)
        }
      })
    })

    let regulation = [];
    $('.check-regulations').on('keyup', function() {
      $.ajax({
        type: 'post',
        url: '{% url "api:regulation" %}',
        data: {
          title: this.value
        },
        success: function (response) {
          if (response.success) {
            $('.regulation-container').find('[name=title]').val(response.regulation.title)
            
            if (response.regulation.persons.length > 0) $regulation[0].selectize.addItems(response.regulation.persons);
            else $regulation[0].selectize.clear();

            $('.regulation-container').find('[name=hours]').val(response.regulation.hours)
            $('.regulation-container').show()

            regulation = response.regulation
          } else {
            $('.regulation-container').hide()
          }
        }
      });
    });

    $('.regulation-submit').click(function () {
      $('.default-container').find('[name=title]').val(regulation.title);

      if (regulation.persons.length > 0) $create[0].selectize.addItems(regulation.persons);
      else $create[0].selectize.clear();
      
      $('.default-container').find('[name=hours]').val(regulation.hours);
    })
  </script>
{% endblock %}