{% load static %}
<html>
<head>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}CP2020-final-rosatom{% endblock %}</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
</head>
<div class="container-fluid">
    <div class="row">
        {% include 'menu.html' %}
    </div>
    <div class="row">
    <div class="col">
       {% block content %}{% endblock %}
    </div>

    </div>
</div>

</html>
