<div class="card">
  <ul class="nav nav-tabs" data-toggle="tabs">
    <li class="nav-item">
      <a href="/" class="nav-link active" data-toggle="tab">Главная страница</a>
    </li>
    <li class="nav-item">
      <a href="/kanban/" class="nav-link" data-toggle="tab">Поручения</a>
    </li>
      <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="tab">Аналитика</a>
    </li>
      <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="tab">Цех</a>
    </li>
  </ul>
</div>